@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Judson:ital,wght@0,400;0,700;1,400&family=Sedan:ital@0;1&display=swap');

body {
  /* Font used for entire page */
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;

  background-image: url('./assets/Media/3376284.jpg');
  background-color: darkslategrey;
  color: whitesmoke;
}

.mainCont {
  transform: translate(0%,30%);
  background-color: rgba(65, 127, 146, 0.8);
  border-radius: 5%;
  border: 1px solid whitesmoke;
  max-width: 50%;
}

.myContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.mySpacing {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}