@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Judson:ital,wght@0,400;0,700;1,400&family=Sedan:ital@0;1&display=swap');

body {
  /* Font used for entire page */
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;

  background-image: url('./assets/Media/3376284.jpg');
  background-color: darkslategrey;
  color: whitesmoke;
}

/* For REGISTER COMPONENT */
.mainCont {
  position: absolute;
  top: 20%;
  left: 25%;
  background-color: rgba(65, 127, 146, 0.8);
  border-radius: 20px;
  border: 1px solid whitesmoke;
  max-width: 50%;
}

.myContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.mySpacing {
  /* margin-top: 1rem; */
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* For LOGIN COMPONENT */
.contLogin {
  transform: translate(0%, 40%);
  background-color: rgba(65, 127, 146, 0.8);
  border-radius: 20px;
  border: 1px solid whitesmoke;
  max-width: 40%;
  padding:2rem;
}

a {
  color: rgb(23, 21, 141);
}

.tagStyle {
  margin-top: .5rem; 
  margin-left: 1.6rem;
}

.text-danger {
  color: hwb(0 62% 5%) !important;
}

.btn {
  border-color: whitesmoke;
}